.payeeName {
  text-align: center;
  margin-top: 3%;
  
}

.phoneInfo {
  text-align: center;
  margin-top: 3%;
}

address {
  text-align: center;
  margin-top: 3%;
}

.payeeCard {
  background: #fff;
  border-radius: 2px;
  /* height: 325px; */
  margin: 1rem;
  position: relative;
  width: 40%;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}

.payeeCard > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}

.payeeCard > .content > ul {
  list-style-type: none;
}

.payeeCard > .content > ul > li {
  margin-top: 8px;
}

.payeeCard > .remove {
  color: #ff1744;
  font-size: 48px;
  position: absolute;
  top: -20px;
  right: 5px;
  cursor: pointer;
}

.payeeCard > .remove:hover {
  color: #d50000;
}
